
<div id="contact">
  <div id="subscribe-text">
    <h3>Keep Connected to what Lily is doing!</h3>

    <p>Get e-news and find out when new products are launching.</p>
  </div>
  <form>
    <fieldset>
      <legend>Subscribe:</legend>
      <label><span>Your Email:</span><input type="email" placeholder="example@example.com"/>
      </label>
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
  </form>
</div>